<div class="row">
  <div class="span8 well">
    <%= render(post.categories) || "<h6>No category</h6>".html_safe %>
    <h4><%= link_to post.title, post.url %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">posted by <%= link_to post.title, post_path(post) %></span>
      <small>at <%= display_datetime(post.created_at) %></small>
    </p>
    <span>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </span>
  </div>
</div>