<%= render '/shared/content_title', title: "Login" %>

<div class="well">
  <%= form_tag '/login' %>
    <div class="control-group">
      <%= label_tag :username %>
      <%= text_field_tag :username, params[:username] || '' %>
    </div>
    <div class="control-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, params[:password] || '' %>
    </div>
    <div class="control-group">
      <%= submit_tag "Login", class: 'btn btn-success' %>
      <%= link_to "Register", register_path %>
    </div>
</div>